@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.dark body{
  color: var(--foreground);
  background: var(--background);
  overflow-wrap: anywhere;
}
.light body{
  color: var(--background);
  background: var(--foreground);
  overflow-wrap: anywhere;
}
button,
a {
  overflow-wrap: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .triangle-with-border {
    position: relative;
  }

  .triangle-with-border::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 34px solid rgb(209 213 219); /* border */
  }

  .triangle-with-border::after {
    content: '';
    position: absolute;
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white; /* triangle */
  }

  .dark .triangle-with-border::before {
    border-bottom-color: rgb(63 63 70);
  }

  .dark .triangle-with-border::after {
    border-bottom-color: rgb(39 39 42);
  }
}

p {
  @apply text-pretty;
}

.pfp {
  @apply min-w-10 w-10 h-10 rounded-full object-cover border-2 border-black/15;
}

/* mecado pago button */
div .svelte-1swmi9x {
  margin: 1rem 0 0 0 !important;
}

/* loading spinner (Spinner) */
@layer utilities {
  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-spinner {
    animation: spinner 1.2s linear infinite;
    transform-origin: 40px 40px;
  }
}